<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Article Index</title>
</head>
<body>
  <% Article.all.each do |post, idx| %>
    <h1>
      <%= "#{post.title}" %>
    </h1>
  <% end %>
</body>
</html>