<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag "home", media: "all", 'data-turbolinks-track': "reload" %>
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <h1 id="title">Create an Article</h1>
        <ul class="list">
          <li class="list__item"><%= link_to "Home", root_path %></li>
          <li class="list__item"><%= link_to "Blogs", articles_path %></li>
          <li class="list__item">Login/Register</li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Create an Article</h1>
      </br>
      <%= render "form" %>     
    </main>
  </body>
</html>
