<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article Show</title>
  </head>
  <body>
    <ul class="article-list">
      <li>Title: <h3 class="article-title"><%= @article.title %></h3></li>
      <li>Description:  <p> <%= @article.description %> </p> <li>
      <button><%= link_to "Edit", edit_article_path(@article) %></button>
    </ul>
  </body>
</html>
