<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div class="jumbotron center">
      <h1>Alpha Blog</h1>
      <%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg btn-xlarge" %>
    </div>
  </body>
</html>
