<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track':
    'reload' %>
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <h1 id="title">Home</h1>
        <ul class="list">
          <li class="list__item">About</li>
          <li class="list__item">Blogs</li>
          <li class="list__item">Login/Register</li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <span><h1>Article-1</h1></span>
        <p class='article-text'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
        consequatur iure architecto error illo accusamus nam voluptate
        perferendis sunt quibusdam provident, sed aliquid eius adipisci
        cupiditate ab veritatis praesentium. Veniam quam iste, cupiditate labore
        delectus magnam? Magni provident sint ratione ullam nam rerum aperiam
        delectus corporis nostrum fugiat perspiciatis maiores sed amet placeat
        tenetur libero commodi, quidem dicta. Voluptatem natus delectus fugiat
        voluptates error quasi, tenetur veniam nostrum. Sequi perspiciatis
        recusandae, eos saepe molestias quam laudantium odit harum sit aut, vel
        nesciunt. Provident facere recusandae necessitatibus fuga nam asperiores
        voluptatem labore, deleniti aut incidunt, similique cum ea. Incidunt,
        culpa illo!
        </p>
      </section>
       <section>
        <span><h1>Article-2</h1></span>
        <p class='article-text'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
        consequatur iure architecto error illo accusamus nam voluptate
        perferendis sunt quibusdam provident, sed aliquid eius adipisci
        cupiditate ab veritatis praesentium. Veniam quam iste, cupiditate labore
        delectus magnam? Magni provident sint ratione ullam nam rerum aperiam
        delectus corporis nostrum fugiat perspiciatis maiores sed amet placeat
        tenetur libero commodi, quidem dicta. Voluptatem natus delectus fugiat
        voluptates error quasi, tenetur veniam nostrum. Sequi perspiciatis
        recusandae, eos saepe molestias quam laudantium odit harum sit aut, vel
        nesciunt. Provident facere recusandae necessitatibus fuga nam asperiores
        voluptatem labore, deleniti aut incidunt, similique cum ea. Incidunt,
        culpa illo!Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
        consequatur iure architecto error illo accusamus nam voluptate
        perferendis sunt quibusdam provident, sed aliquid eius adipisci
        cupiditate ab veritatis praesentium. Veniam quam iste, cupiditate labore
        delectus magnam? Magni provident sint ratione ullam nam rerum aperiam
        delectus corporis nostrum fugiat perspiciatis maiores sed amet placeat
        tenetur libero commodi, quidem dicta. Voluptatem natus delectus fugiat
        voluptates error quasi, tenetur veniam nostrum. Sequi perspiciatis
        recusandae, eos saepe molestias quam laudantium odit harum sit aut, vel
        nesciunt. Provident facere recusandae necessitatibus fuga nam asperiores
        voluptatem labore, deleniti aut incidunt, similique cum ea. Incidunt,
        culpa illo!
        </p>
      </section>
       <section>
        <span><h1>Article-3</h1></span>
        <p class='article-text'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
        consequatur iure architecto error illo accusamus nam voluptate
        perferendis sunt quibusdam provident, sed aliquid eius adipisci
        cupiditate ab veritatis praesentium. Veniam quam iste, cupiditate labore
        delectus magnam? Magni provident sint ratione ullam nam rerum aperiam
        delectus corporis nostrum fugiat perspiciatis maiores sed amet placeat
        tenetur libero commodi, quidem dicta. Voluptatem natus delectus fugiat
        voluptates error quasi, tenetur veniam nostrum. Sequi perspiciatis
        recusandae, eos saepe molestias quam laudantium odit harum sit aut, vel
        nesciunt. Provident facere recusandae necessitatibus fuga nam asperiores
        voluptatem labore, deleniti aut incidunt, similique cum ea. Incidunt,
        culpa illo!
        </p>
      </section>
       <section>
        <span><h1>Article-4</h1></span>
        <p class='article-text'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
        consequatur iure architecto error illo accusamus nam voluptate
        perferendis sunt quibusdam provident, sed aliquid eius adipisci
        cupiditate ab veritatis praesentium. Veniam quam iste, cupiditate labore
        delectus magnam? Magni provident sint ratione ullam nam rerum aperiam
        delectus corporis nostrum fugiat perspiciatis maiores sed amet placeat
        tenetur libero commodi, quidem dicta. Voluptatem natus delectus fugiat
        voluptates error quasi, tenetur veniam nostrum. Sequi perspiciatis
        recusandae, eos saepe molestias quam laudantium odit harum sit aut, vel
        nesciunt. Provident facere recusandae necessitatibus fuga nam asperiores
        voluptatem labore, deleniti aut incidunt, similique cum ea. Incidunt,
        culpa illo!
        </p>
      </section>
    </main>
  </body>
</html>
