<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <h1 id="title">Home</h1>
        <ul class="list">
          <li class="list__item"><%= link_to "About", about_path %></li>
          <li class="list__item"><%= link_to "Blogs", articles_path %></li>
          <li class="list__item">Login/Register</li>
        </ul>
      </nav>
    </header>
    <main>
      <%= link_to "Alpha Blogs", articles_path %> | <%= link_to "About", about_path %>
      
    </main>
  </body>
</html>
