.footer {
  width: 100%;
  height: 2.5rem;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 5px 1rem 0 1rem;
}

.footer {
  background-color: #464242;
  color: #ffffff;
  border-top: 1px solid #eaeaea;

  a {
    color: white;
    &:hover {
      color: #222222;
    }
  }

  ul {
    list-style: none;
    display: flex;
    li {
      margin-left: 15px;
    }
  }
}