*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
  width: 100%;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  padding: 30px;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
  color: white;
}

.list {
  display: flex;
  list-style: none;
}

.list__item {
  margin-left: 10px;
  margin-right: 10px;
}

section {
  margin-bottom: 30px;
}

span {
  display: block;
  text-align: center;
}

.article-text {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

h1 a {
  color: black;
}

.article-text a {
  color: black;
}
