.user-title {
  text-align: center;
}

.user-show-h4 {
  text-align: center;
}

.img-circler {
  border-radius: 50%;
  margin: auto;
  margin-bottom: 1rem;
}

.user-articles {
  text-align: center;
  width: auto;

  .card {
    margin-bottom: 1rem;
    background-color: darken(#ffffff, 5);
    border-color: darken(#ffffff, 20);
  }
}

.users-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;

  .user-show-btn-container {
    text-align: center;
    .user-show-edit-btn {
      width: 150px;
    }
  }
}
