<% flash.each do |name, message| %>
  <!--
    <ul class="flash-message-display-area">
      <li class="flash-message alert alert-success">
        <%= message %>
      </li>
    </ul>
  -->
  <div class="container flash-message-container">
    <p class='flash-message alert alert-<%= "#{name}" %>'>
      <a href="#" class="close close-flash-message" data-dismiss="alert">&#215;</a>
      <%= message %>
    </p>
  </div>
<% end %>

